<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>Votable Bills:</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${bills.empty}">
                    <td colspan="3">No votable bills</td>
                </tr>
                <tr th:each="c,iterStat : ${bills}">
                    <td th:text="${c.id}">...</td>
                    <td><a th:href="@{/bills/} + ${c.id}" th:text="${c.title}">...</a></td>
                    <td th:text="${c.status}">...</td>
                    <td th:with="userVote=${billsVotes[iterStat.index]}">
                      <div th:if="${userVote != null && userVote != 'voted'}" th:text="'Ommited vote ' + ${userVote}"></div>
                      <div th:if="${userVote != null && userVote == 'voted'}">Already voted</div>
                      <div th:if="${userVote == null || userVote != 'voted'}">
                        <!-- Display the form -->
                        <form method="POST" th:action="@{/bill/support}">
                          <input type="hidden" name="billId" id="billId" th:value="${c.id}" required/>
                          <input th:if="${citizen}" type="hidden" name="citizenId" id="citizenId" th:value="${citizen.cc}" required/>
                          <button th:disabled="${(citizen == null)}" type="submit" name="vote" value="yes">Yes</button>
                          <button th:disabled="${(citizen == null)}" type="submit" name="vote" value="no">No</button>
                        </form>
                      </div>
                    </td>
                    <td th:text="${c.description}">...</td>
                  </tr>

            </tbody>
        </table>
    </section>
</body>
