<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h1>Propose a Bill</h1>
        <p th:if="${error}" th:text="${error}"></p>

        <form th:if="${citizen}" action="/bills/propose" method="post" th:object="${bill}">
            <input type="hidden" th:value="${citizen.cc}" name="proponentId" />
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="time">Validity:</label>
                <input type="datetime-local" id="time" name="time" required >
            </div>
            <div>
                <label for="topicId">Topic:</label>
                <select id="topicId" name="topicId" required>
                    <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </section>
</body>

</html>