<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>All non expired Bills:</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Vat</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${bills.empty}">
                    <td colspan="6">No non expired bills</td>
                </tr>
                <tr th:each="c : ${bills}">
                    <td th:text="${c.id}">...</td>
                    <td><a th:href="@{/bills/} + ${c.id}" th:text="${c.title}">...</a></td>
                    <td th:text="${c.description}">...</td>
                    <td th:text="${c.status}">...</td>
                    <td th:text="${c.supportersCount}">...</td>
                    <td>
                        <form th:if="${c.status.name() == 'CREATED'}" method="POST" th:action="@{/bill/support}">
                            <input type="hidden" name="billId" id="billId" th:value="${c.id}" required/>
                            <input th:if="${citizen}" type="hidden" name="citizenId" id="citizenId" th:value="${citizen.cc}" required />
                            <input th:disabled="${(c.status.name() != 'CREATED') || (citizen == null)}" value="support" type="submit">
                        </form> 
                    </td>
                    
                    
                </tr>
            </tbody>
        </table>
    </section>
</body>
