<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>Bill:</h2>

        <table>
            <tr>
                <th>Title:</th>
                <td th:text="${bill.title}"></td>
            </tr>
            <tr>
                <th>ID:</th>
                <td th:text="${bill.id}"></td>
            </tr>
            <tr>
                <th>Proponent:</th>
                <td th:text="${bill.proponent.name}"></td>
            </tr>
            <tr>
                <th>Topic:</th>
                <td th:text="${bill.topic.name}"></td>
            </tr>
            <tr>
                <th>Status:</th>
                <td th:text="${bill.status.name()}"></td>
            </tr>
            <tr>
                <th>Validity:</th>
                <td>
                    <span th:text="${#temporals.format(bill.validity, 'dd-MM-yyyy HH:mm')}"></span>
                </td>
            </tr>
            <tr>
                <th colspan="2">Description:</th>
            </tr>
            <tr>
                <td th:text="${bill.description}"></td>
            </tr>

        </table>
    </section>
</body>

</html>
